@charset "UTF-8";

body, html{
height: 110%;
background-color: #DCC7AA;
}

#details{
	background-color: #DCC7AA;
		font-family: 'Sniglet', cursive;
}

.all-details{
		background-color: #DCC7AA;
		font-family: 'Sniglet', cursive;
	
}

h3, h4 {
	font-family: 'Sniglet', cursive;
	color: #F7882F;
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #6B7A8F;
   text-align: center;
}

.footerText {
	font-family: 'Sniglet', cursive;
	color: black;
	margin: 30px 0 0px;
	margin: 0 1em;
}

.img-user{
	/* border-radius: 50%; */
	border: 1px solid #6B7A8F;
  	padding: 5px;
 	width: 150px;
 	height:200px;
 	object-fit: cover;
}

.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.event-pic{
	border: 1px solid #6B7A8F;
  	padding: 5px;
  	width: 500;
  	height: 300;
 	object-fit: cover;
}

.button {
	color: #6B7A8F;
	background-color: transparent;
	border: 2px solid #6B7A8F;
	border-radius: 8px;
	transition-duration: 0.4s;
	margin: 5px;
}
.button:hover{
	color: white;
	background-color: #6B7A8F;
	border: 2px solid white;
	border-radius: 8px;
	margin: 5px;
}
.commentee{
	color: #F7882F;
}

