body, html{
	height: 110%;
	background-color: #DCC7AA
}

.userNotLoggedIn {
	background-color: #DCC7AA
}

 .userLoggedIn {
 background-color: #DCC7AA
 }

/* The hero image */
.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("https://i2-prod.nottinghampost.com/incoming/article2279001.ece/ALTERNATES/s615/0_dogs.jpg");
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #F7882F;
	font-family: 'Vast Shadow', cursive;
	white-space: nowrap;
}

.hero-image>.hero-text>h1 {
	font-size: 80px;
	color: #F7882F;
}

.headerEvents>h3,h4 {
	font-family: 'Sniglet', cursive;
	color: #F7882F;
}

h3, h4 {
	font-family: 'Sniglet', cursive;
	color: #F7882F;
}

.headerEvents {
	    margin: 30px auto 20px;
	    vertical-align: middle;
	
	text-align: center;
}

img {


    width:  200px;
    height: 200px;
    object-fit: cover;
} 

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #6B7A8F;
   text-align: center;
}

.footerText {
	font-family: 'Sniglet', cursive;
	color: black;
	margin: 30px 0 0px;
	margin: 0 1em;
}

.headerEvents > .alignEvents {
	text-align: center;
}


